@charset "UTF-8";

/*
 * 初期設定
 */
body, h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	color: #000;
}

.center-layout {
	width: 700px;
	margin: 0 auto;
}

.no-border {
	border: none;
}

.no-background {
	background-color: transparent;
}

.link-word {
	text-decoration: underline;
	cursor: pointer;
}

.error {
	color: red;
}

main {
	display: flex;
}

article {
	width: 80%;
}

aside {
	width: 20%;
}


article h1 {
	margin-bottom: 10px;
}

/*
 * ヘッダー
 */
header {
	margin-bottom: 20px;
	border-bottom: solid 1px #aaa;
	box-shadow: 0px 1px 3px #aaa;
	background-color: #444;
	color: #fff;
}

#header-inn {
	display: flex;
	padding: 10px 0;
}

#header-inn h1 {
	font-size: 1.2rem;
	width: 50%;
}

#header-inn h1 a {
	color: #fff;
	text-decoration: none;
}

#logout {
	width: 50%;
	font-size: 0.8em;
}

#loginuser {
	margin-right: 20px;
}

#logout a {
	color: #eee;
	text-decoration: underline;
	font-size: 0.8em;
}

/*
 * フッター
 */
footer {
	margin-top: 20px;
	text-align: center;
	padding: 10px 0;
	background-color: #444;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
}

/*
 * 表のデザイン
 */
.edit-form, .confirm-form {
	width: 400px;
}

.edit-form input[type="text"] {
	width: 100%;
	border: none;
	outline: none;
}

table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

.confirm-table td {
	width: 200px;
}

th, td {
	padding: 5px 8px;
	border: solid 1px #aaa;
}

th {
	text-align: left;
}

.btn-area {
	text-align: right;
}

.submit-btn, .cansel-btn {
	cursor: pointer;
	width: 100px;
	line-height: 24px;
}

.img-pencil,
.img-trash {
	width: 16px;
	padding: 5px 2px;
}
.no-padding {
	padding: 0;
}

/*
 * asideのデザイン
 */
aside h1 {
	margin-bottom: 10px;
}

aside li {
	margin-bottom: 10px;
}

.search-form {
	border: solid 1px #ddd;
	display: flex;
	width: 100%;
}

/* .search-box  {  */
/*   	width: calc(100% - 36px); */
 	
/* } */

.search-box {
	width: 100%;
	flex-shrink: 1;
	line-height: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
}

.search-box:focus {
  outline: none;
}

.search-img {
	vertical-align: middle;
	cursor: pointer;
	flex-shrink: 0;
}

.img-find {
	width: 20px;
}
